body {
    padding:0px;
    margin:0px;
}

#menu ul {
    padding:0px;
    margin:0px;
    float: left;
    width: 100%;
    background-color:#EDEDED;
    list-style:none;
    font:80% Tahoma;
}

#menu ul li { display: inline; }

#menu ul li a {
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    padding: 5px 110px;
    float:left;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: green;
    border-bottom:3px solid green;
}
#img img{
    width: 160px;
}

#linha{
    margin: 0 auto;
}
.dropdown button {
    width: 290px;
}
.buscar input{
    width: 290px;
}
.carousel-inner img{
    max-height: 200px;
    width: auto;
    height: auto;
}
.ico{
    font-size: 50px;
}
.ima img{
    width: 200px;
    height: 95px;
}
.text{
    margin-right:10px;
}
.cid dropdown button{
    height: 20px;
}