body {
    padding:0px;
    margin:0px;
}

#menu ul {
    padding:0px;
    margin:0px;
    float: left;
    width: 100%;
    background-color:#EDEDED;
    list-style:none;
    font:80% Tahoma;
}

#menu ul li { display: inline; }

#menu ul li a {
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    padding: 5px 110px;
    float:left;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: green;
    border-bottom:3px solid green;
}
#img img{
    width: 160px;
}

.dropdown button {
    width: 200px;
}
.buscar input{
    width: 200px;
}
.carousel-inner img{
    max-height: 200px;
    width: 100%;
    height: 100%;
}
.ico{
    font-size: 40px;
}
.ima img{
    width: 200px;
    height: 95px;
}
.text{
    margin-right:10px;
}
.cid dropdown button{
    height: 20px;
}
.back:before {
    content: "";  
    position: absolute;
    background-image: linear-gradient(135deg,green,green);
    width: 1090px;
    height: 72%;
    transform: skewX(12deg);   
}
@media only screen and (max-width:360px){
    .back:before {
        width: 360px; 
    } 
}
.news{
    color: white;
}
.news2{
    color: #D8D8D8;
}
.roda{
    width: 100%;
    height: 250px;
    background: #01DF01;
}
.linha-vertical {
    height: 250px;
    border-left: 2px solid;
}
.acontecimentos2{
    width: 100%;
}
.prop img{
    width: 200px;
}
.propa img{
    width: 343px;
}
.news img{
    width: 500px;
}
@media only screen and (max-width: 360px){
    .roda{
        width: 100%;
        height: 100%;
        background: #01DF01;
        text-align: center;
    }
}
@media only screen and (max-width:360px){
    .ico{
        font-size: 40px;
        display: none;
    }
}
@media only screen and (max-width:360px){
    .previ{
        display: none;
    }
}
@media only screen and (max-width: 360px){
    .propa img{
        display: none;
    }
}
@media only screen and (max-width: 360px){
    .news2{
        color: black;
    }
}
@media only screen and (max-width: 360px){
    .radape{
        display: none;
    }
}
